/WSApplication/target/
/WSAppliocation/target/
/WSApp/target/
/WSAppl/target/
/WSApp/nbproject/private/
/WSApp/build/
/WSAppClient/target/
/CalClient/target/
/WSApplication/nbproject/private/
/WSApplication/build/
/WSAppClient/nbproject/private/
/WSAppClient/build/
/WSAppClient/dist/
/WSApplication/dist/
/WSAppClient2/nbproject/private/
/Palindrome/nbproject/private/
/Palindrome/build/
/Palindrome/dist/
/PalindromeClient/nbproject/private/
/PalindromeClient/build/
/PalindromeClient/dist/